node_modules
dist
.parcel-cache

*.js
*.js.map
*.d.ts
*.d.ts.map
*.tsbuildinfo

# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*
